{% extends 'base.html' %} {% block content %}{% load bootstrap3 %} 

<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-7 post">
            <div>
                <h4><strong>david_mwas</strong></h4>
            </div>
            <a href="/post/{{post.id}}">
            <img class="img" src="{{post.post_image.url}}" alt="">
        </a>
            <div>
                <button>like</button>
                <h5>100 likes</h5>
                {% for comment in comments %}
                <h5><strong>{{comment.user.username}} :</strong> {{comment.words}}</h5>
                {% endfor %}
                <form action="" method="post" >
                    {%csrf_token%} {% bootstrap_form comment_form%}
                    <input type="submit" class="btn btn-success btn-sm" value="Post">
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
{% endblock %}
